html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*, *::after, *::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  } 
img {
  width: 100%;
}

.news {
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}

.news h5 {
  color: rgb(4, 68, 39);
}

hr {
  float: right;
  margin-top: -4.2%;
  width: 71%;
}
.news .text {
  margin-top: 3%;
  box-shadow: 0px 2px 1px 0px rgb(165, 190, 179);
  margin-bottom: 3rem;
}

.news .content {
  padding: 2%;
}

.news .date {
  font-size: 13px;
}

.news .date i {
  margin-right: 1%;
}

.news a {
  text-decoration: none;
  color: rgb(6, 31, 20);
  border: 1px solid #016a3a;
  padding: 7px;
  border-radius: 3px;
}
.news a:hover {
  background-color: #016a3a;
  color: #fff;
}

.text h5 {
  color: rgb(5, 36, 22);
}

@media (max-width: 320px) {
  .news a {
    padding: 5px;
    margin: 0 auto;
  }

  .text {
    margin-bottom: 7%;
  }
}

@media (min-width: 768px) {
  .news .text {
	height: auto;
	margin-bottom: 3%;
    padding: 3%;
  }
  img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
  }

  hr {
    margin-top: -3%;
    width: 81%;
  }

  .news .content {
    padding-top: -5%;
  }

  .news .date {
    margin-top: -11px;
  }

  .news a {
    margin-top: 9%;
  }
}



@media (min-width: 1209px) {
 .news .text{
	 margin-top: 0;
 }

 .bfrLink img{
	 margin-top: -2rem;
 }
}
