
.navbar{
    background-color: #016A3A;
}
.navbar .navbar-toggler{
    border: 1px solid #fff;
    margin-top: -1%;
}

.navbar img{
    width: 60px;
    height: 60px;
}

.navbar .navbar-nav .nav-link {
   color: #fff;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #016A3A;
    color: #fff;
}
.navbar .navbar-brand{
    margin-top: -2%;
}

.navbar-collapse{
    text-align: right;
}

.topRight{
    text-align: left;
    margin-top: 2%;
}

.topRight .btn-success{
    background-color: #fff;
    color: #016A3A;
}

.topRight .btn-success:hover{
    background-color: rgb(20, 186, 241);
    color: #fff;
    border: 1px solid #fff;
}

.topRight .btn-outline-success{
    border-color: #fff;
    color: #fff;
}

.topRight .btn-outline-success:hover{
    background:red;
    color: #fff;
}

.modal-footer .green{
    border: 1px solid #016A3A;
    color: #016A3A;
    background-color: #fff;
}

.modal-footer .green:hover{
    background-color: #016A3A;
    color: #fff;
}

#errorMessage{
    text-align: center;
}

#errorMess{
    text-align: center;
}
@media (min-width: 768px) { 
    .navbar-brand{
        padding-top: 1.2%;
    }
}
@media (min-width: 992px) { 
    
    .navbar{
        height: 80px;
        color: #016A3A;
    }
   .navbar .navbar-brand{
        margin-top: -1%;
    }

    .navbar .navbar-nav  {
     margin-left: 3%;
     }

    .navbar-nav .nav-item {
        margin-right: 7%;
    }
    .topRight{
        position: absolute;
        right: 1%;
        top: -2%;
    }
}