html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 100%;
}

.clip {
  background: url("../images/iog1.jpg");
  clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50% 100%, 0% 75%, 0 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  z-index: -3;
}

.checked h3 {
  background-color:#016a3a;
  color: #fff;
  text-align: center;
  width: 70%;
  padding: 3%;
  margin: auto;
  margin-bottom: 1rem;
  position: relative;
  z-index: 100;
}

.checked {
  padding: 2%;
  margin-top: -7rem;
}

.checked .fas {
  margin-right: 1.5%;
  color: #016a3a;
}

.checked p {
  color: rgb(1, 14, 8);
  padding-left: 3%;
}

.cercle {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 2rem;
}

.cercle .rond {
  background-color: #a7fffd;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  margin: 1%;
  display: inline-block;
  padding-top: 2.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.cercle .rond:hover {
  background-color: #016a3a;
  color: #fff;
}

.social {
  width: 100%;
  height: 200px;
  background-color: #016a3a;
  padding: 5%;
  text-align: center;
  margin-bottom: 3rem;
}

.social h3 {
  color: #fff;
  font-size: 23px;
  padding: 3%;
}

.icon {
  margin-left: 11%;
}

.icon .fab,
.icon .fas {
  font-size: 23px;
  color: #fff;
  margin-right: 11%;
}

.status {
  width: 100%;
  background-color: #016a3a;
  color: #fff;
  text-align: center;
  padding: 7%;
  margin-top: 13%;
  margin-bottom: 15%;
}

.status .btn {
  border: 1px solid #fff;
  color: #fff;
  width: 200px;
}

.status a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

.status a:hover {
  background-color: #fff;
  color: #016a3a;
  font-weight: bold;
}

.newsletter .btn:hover {
  background-color: #fff;
  border-color: #016a3a;
  color: #016a3a;
}

.newsletter {
  padding: 3%;
  color: rgb(0, 10, 6);
  width: 95%;
  box-shadow: 1px 1px 1px 1px rgb(140, 160, 151);
  margin: 0 auto;
  margin-bottom: 5rem;
}

.newsletter p {
  padding: 3%;
  margin-bottom: 5%;
  font-weight: bold;
  color: rgb(5, 36, 22);
}

.newsletter form {
  text-align: center;
}

.newsletter input {
  width: 70%;
  margin: 0 auto;
  border-color: #016a3a;
}

.newsletter .btn {
  background-color: #016a3a;
  color: #fff;
  margin-bottom: 7%;
  margin-top: 7%;
}

.newsletter hr {
  margin-top: 2%;
  width: 40%;
  margin-right: 30%;
  margin-bottom: 9%;
}

/* Smaller screen*/
@media (max-width: 320px) {
  .cercle .rond {
    width: 90px;
    height: 90px;
    padding-top: 2rem;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .clip {
      clip-path: polygon(50% 0%, 100% 0, 100% 100%, 100% 100%, 0 89%, 0 0);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  .checked {
    width: 97%;
    margin: auto;
    margin-top: 1rem;
  }

  .checked h3 {
    width: 40%;
    height: 150px;
    float: left;
    background-color: #016a3a;
    margin-right: 3%;
    color: #fff;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .checked p {
    margin-top: -1.1rem;
    padding: 0.5%;
  }

  .cercle {
    height: 210px;
    text-align: center;
    margin-bottom: 3%;
  }

  .cercle .rond {
    width: 140px;
    height: 140px;
    padding-top: 8%;
    margin-left: 5%;
    margin-top: -2%;
  }

  .icon {
    margin-top: -2.5rem;
  }
  .status {
    margin-top: 7%;
    margin-bottom: 13%;
  }

  .newsletter hr {
    margin-top: 0;
    width: 40%;
    margin-right: 30%;
    margin-bottom: 5%;
    font-size: 21px;
  }

  .newsletter p {
    font-size: 21px;
    margin-bottom: 2%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .checked p {
    margin-top: -1rem;
    padding: 5px;
  }
  .cercle {
    margin: 5rem auto;
  }

  .cercle .rond {
    width: 140px;
    height: 140px;
    padding-top: 6%;
  }

  .social h3 {
    margin-top: -2rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .clip{
    background-position: center 3%;
  }


  .checked p {
    margin-top: -0.5rem;
  }
  .cercle {
    width: 100%;
  }

  .cercle .rond {
    padding-top: 4.5%;
  }

  .social {
    height: 300px;
  }

  .social h3 {
    font-size: 31px;
  }

  .icon i {
    font-size: 27px;
  }

  .status {
    padding: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
  }

  .newsletter {
    padding: 2%;
    color: rgb(0, 10, 6);
    width: 75%;
    box-shadow: 1px 1px 1px 1px rgb(140, 160, 151);
    margin: 0 auto;
  }

  .newsletter p {
    padding: 3%;
    margin-bottom: 3%;
    font-size: 29px;
  }

  .newsletter hr .newsletter input {
    margin-top: 3%;
  }
  .newsletter .btn {
    background-color: #016a3a;
    color: #fff;
    margin-bottom: 5%;
    margin-top: 7%;
  }
}

/* Large screen */

@media (min-width: 1500px) {
  .clip{
    background-position: center 9%;
  }
  img {
    height: 210px;
    width: 210px;
  }
  .cercle .rond {
    padding-top: 4%;
  }
  .checked h3{
    margin-left: 3rem;
    margin-right: 7rem;
  }
}

@media (min-width: 1900px) {
  .cercle .rond {
    padding-top: 3.3%;
  }

 
  .social h3 {
    margin-top: -4rem;
  }
}
