html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

img{
    width: 100%;

}

.jumbotron{
    height: 200px;
    background: url(images/pic6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 17% ;
    border-radius: 0;
}

.jumbotron .container{
    display: none;
}

.text{ 
    border-radius: 3px;
    padding: 3%;
    width: 95%;
    margin: 0 auto;
    margin-top: -6%;
    margin-bottom: 3%;
}


h1{
color: rgb(2, 59, 33);
margin-top: 0;
font-size: 23px;
margin-bottom: 5%;
text-align: center;
}

.titre{
    text-align: center;
}

.content{
    padding: 3%;
}

.card{
margin-bottom: 3%;
}

.card-img-top{
    height: 230px;
}

.card-title{
    color: rgb(10, 66, 41);
}

.vert{
    background-color: #016A3A;
    color: #fff;
    border-color: #fff;
    width: 100%;
}

.vert:hover,
.vert:focus{
    background-color: #fff;
    color: #016A3A;
    font-weight: bold;
    border-color: #016A3A;
}

.ds{
    display: none;
}

@media (max-width: 400px) {

.card{
    margin-bottom: 7%;
}

.card-img-top{
    height: 200px;
}

.jumbotron .container{
    top: -21%;
}

.firstList{
    margin-left:-11%;
}
.secondList{
    margin-top:5%;
    margin-left:-11%;
}
 }
    
    @media (min-width: 768px) {

  .jumbotron{
      height: 200px;
  }

  .text{
      margin-top: -2%;
  }

  .text h1{
      width: 40%;
      float: left;
      padding: 5%;
      margin-right: 3%;
      background-color: #016A3A;
      color: #fff;
      height: 180px;
      margin-top: -.5%;
      border-radius: 3px;
  }


  .content{
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 1% 1fr;
grid-template-columns: 1fr 1fr;
-ms-grid-rows: auto 1% auto 1% auto 1% auto;
grid-template-areas: "lefto righto"
" leftt rightt"
"lefttr righttr"
"leftf rightf";
grid-gap: 1%;
}
    .un{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: lefto;
}

.deux{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: righto;
}

.trois{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: leftt;
}

.quatre{
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: rightt;
}

.cinq{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: lefttr;
}

.six{
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: righttr;
}

.sept{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: leftf;
}

.huit{
    
    -ms-grid-row: 7;
    
    -ms-grid-column: 3;
    
    grid-area: rightf;
}

.card-img-top{
    height: 200px;
}

    .firstList{
        margin-top: 1.7%;
        margin-left: -1%;
        margin-right: 15%;
    }
        
     }

    @media (min-width: 992px) {
        .jumbotron{
            height: 310px;
        }

        .text{
            margin-top: 1%;
        }
     .text h1{
         margin-top: -2%;
         height: 170px;
         padding-top: 3%;
     }

     .text p{
         margin-top: 5%;
     }

        .content{
            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "lefti midi righti "
            "lefto mido righto"
            "lefy midy righty";
        }
        
        .un{
            -ms-grid-row: 1;
            -ms-grid-column: 1;
            grid-area: lefti;
        }

        .deux{
            -ms-grid-row: 1;
            -ms-grid-column: 2;
            grid-area: midi;
        }

        .trois{
            -ms-grid-row: 1;
            -ms-grid-column: 3;
            grid-area: righti;
        }

        .quatre{
            -ms-grid-row: 2;
            -ms-grid-column: 1;
            grid-area: lefto;
        }

        .cinq{
            -ms-grid-row: 2;
            -ms-grid-column: 2;
            grid-area: mido;
        }

        .six{
             -ms-grid-row: 2;
             -ms-grid-column: 3;
             grid-area: righto;
        }

        .sept{
            -ms-grid-row: 3;
            -ms-grid-column: 1;
            grid-area: lefy;
        }

        .ds{
            -ms-grid-row: 3;
            -ms-grid-column: 2;
            display: block;
            grid-area: midy;
            background-color: #016A3A;
            color: #fff;
            height: 200px;
            width: 80%;
            margin: 0 auto;
            margin-top: 27%;
            text-align: center;
            font-weight: bold;
            padding-top: 15%;
        }

        .ds p{
            padding:7px;
        }

        .huit{
         
            -ms-grid-row:  3;
            -ms-grid-column:  3;
            grid-area:  righty ;
        }
  
        .card-img-top{
            height: 250px;
        }

      
    }

    @media (min-width: 1200px) {
        .titre{
            position: relative;
            left: -19rem;
            margin-bottom: 3%;
        }

    }