html, body{
    width: 100%;
    height:100%;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.news{
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
}

.news h5{
color: rgb(4, 68, 39);
}

hr{
    float: right;
    margin-top: -4.2%;
    width: 71%;
}
.news .text{
    margin-top: 3%;
    box-shadow: 0px 2px 1px 0px rgb(165, 190, 179);
    margin-bottom: 5%;
}

.news .content{
    padding: 2%;
}

.news .date {
    font-size: 13px;
}

.news .date i{
    margin-right: 1%;
}

.news a {
    text-decoration: none;
    color: rgb(6, 31, 20);
    border: 1px solid #016A3A;
    padding: 7px;
    border-radius: 3px;
}
.news a:hover {
background-color: #016A3A;
color: #fff;
}

.text h5{
    color: rgb(5, 36, 22);
}

@media (max-width:320px){
    .news a {
        padding: 5px;
        margin: 0 auto;
    }

    .text{
        margin-bottom: 7%;
    }
}
/* Devices between */
@media only screen and (min-width: 321px) and (max-width: 457px)  {
.text{
    margin-bottom: 11%;
}
}

@media (min-width:576px){
img{
    height: 270px;
}
}

@media (min-width:768px){
img{
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 2%;
}


hr{
    margin-top: -3%;
    width: 81%;
}

.news .text{
    height: 200px;
    margin-bottom: 7%;
}

.news .content{
    padding-top: -5%;
}

.news .date{
    margin-top: -11px;
}

.news .btn{
    margin-top: 9%;
}
}


@media (min-width:992px){
    
.news{
   width: 95%;
    margin: 0 auto;
    margin-top: 0;
}

.news h4{
padding: 2%;
font-size: 27px;
color: rgb(4, 68, 39);
}

hr{
    float: right;
    margin-top: -3.5%;
    width: 85%;
}

.news .text{
    margin-top: 3%;
    margin-bottom: 3%;
    box-shadow: 1px 1px 1px 1px rgb(165, 190, 179);
}
.news .btn{
  margin-top: 4%;
  margin-left: 1%;
}

.status{
    padding: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.news .date i{
    margin-right: .5%;
}
}