a {
	text-decoration: none;
	//  color: #000;
}

.root {
	margin-bottom: -4rem;
	.appBar {
		background-color: #fafafa;
		.toolB {
			.logo {
				flex-grow: 1;
				margin-top: 0.2rem;
			}

			.rightPart {
				.bars {
					display: none;
					@media screen and (max-width: 900px) {
                        display: block;
                        
					}
				
				}

				.default {
					@media screen and (max-width: 900px) {
						display: none;
					}
					.rightLinks {
						color: #000;
					}
				}
			}
		}
	}
}
