.AppBar {
    // background-color:  #000000 !important;
    background: none !important;
    border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
    font-family: 'Roboto';
   

	// .logo {
	// 	// text-decoration: none;
	// 	// // color: #69f50b;
	// 	// font-size: 2rem;
	// 	// font-weight: bolder;
    // }
    
    // .addAnnons{
        
    // }
}
