a {
    text-decoration: none;
    color: green;
}

.root {
	margin-bottom: -4rem;
	.appBar {
		background-color: #fafafa;
		.toolB {
			.logo {
				flex-grow: 1;
				margin-top: 0.2rem;
			}

		}
	}
}
 