.landing {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 90%;
	height: 50%;

	.container {
		.box {
			.logo {
				.topTxt {
					color: #336b0b;
					font-size: 3rem;
					margin: 1rem;
				}

				.imag {
					height: 100px;
					width: 100px;
				}
			}
		}
	}
}
