.root {
    .myHeader{
        margin-bottom: 3rem;
    }
	.searchBox {
		.progress {
            margin-top: 0.4rem;
            background-color: #539B1E !important;
		}
	}
	.list {
        width: 43%;
        margin-top: 1rem;
        padding-left: 7rem;
		@media screen and (max-width: 1200px) {
            width: 100% !important;
            padding-left: 0;
		}
	}
}
 