.root {
	.searchBox {
		.progress {
            margin-top: 0.4rem;
		}
	}
	.list {
        width: 43%;
        margin-top: 1rem;
        padding-left: 7rem;
		@media screen and (max-width: 900px) {
			width: 100% !important;
		}
	}
}
 