
.root {
    .searchBox{
        margin-left: 1rem;

        .progress{
            margin-top: .4rem;
        }
    }
    .list{
        width: 50%;
        @media screen and (max-width: 768px) {
            width: 100% !important;
        }
    }
}